body{
    display: flex;
    flex-direction: column;
}

header{
    width:100%;
    height: 12rem;
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
}
article{
    display: flex;
    flex-direction: row;
    padding-left: 0rem;
    background-color: transparent;
    width: 100.4%;
}
nav{
    width: 25rem;
    height: 55rem;
    background-color: palevioletred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    padding-right: 1rem;

}
section{
    display: flex;
    height: 55rem;
    width: 106.6rem;
    background-color: green;
    padding-left: 2rem;
}
div{
    flex: 1rem;
    margin: 1rem;
    font-size: medium;
    width: 20rem;
    height: 35rem;
    padding: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: yellowgreen;
}
footer{
    background-color: coral;
    height: 20rem;
    width: 100%;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}